In [1]:
# import libaries

import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import import_ipynb
import STEP4_module

importing Jupyter notebook from DataS23_STEP4_module.ipynb

/root/miniconda3/lib/python3.9/site-packages/jax/experimental/optimizers.py:28: FutureWarning: jax.experimental.optimizers is deprecated, import jax.example_libraries.optimizers instead
  warnings.warn('jax.experimental.optimizers is deprecated, '
/root/miniconda3/lib/python3.9/site-packages/jax/experimental/stax.py:28: FutureWarning: jax.experimental.stax is deprecated, import jax.example_libraries.stax instead
  warnings.warn('jax.experimental.stax is deprecated, '

gpu
Fri Nov 11 11:20:48 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.32.00    Driver Version: 455.32.00    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  GeForce RTX 3090    On   | 00000000:01:00.0 Off |                  N/A |
|  0%   53C    P2    36W / 420W |    285MiB / 24265MiB |      1%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [3]:
# run the module for lib 1
df1 = pd.read_csv('../Raw_NGS_count_tables/NGS_count_lib1.csv')
df_unfolded = DataS23_STEP4_module.caluculation_unfoldedK(df1)
df_unfolded.to_csv('Lib1_unfolded.csv')
df_unfolded

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 297929/297929 [01:19<00:00, 3760.02it/s]

,name,dna_seq,unfolded_K50t,unfolded_K50c
0,1A11,GGTTCTGAAAAAATGTCTACCGCGATCTCTGTTCTGCTGGCGCAGG...,0.494883,0.337770
1,1A11_PG_hp,GGTAAACGTGAAGCGACCCAGATGCTGCAGGTTCTGCTGCTGTCTG...,0.487347,0.309948
2,1AIE,GAATACTTCACCCTGCAGATCCGTGGTCGTGAACGCTTCGAAATGT...,0.452976,0.238489
3,1AIE_PG_hp,CAGATGTACGAAGCGGAGTTCGAAGGCCAGCGTCGTATCGAATTCT...,0.502698,0.244043
4,1AMB,GACGCTGAATTCCGTCACGACTCTGGTTACGAAGTTCACCACCAAA...,0.512763,0.269075
...,...,...,...,...
297924,HHH_rd4_0860.pdb,CAGGACGAAGCGAAGAAAAAAGTTGAACGTCTGGTTCGTAACGGTG...,0.481668,0.173534
297925,HHH_rd1_0432.pdb,CGTGAAGAAGACGCTCGTCGTACCGCGAAAAAACTGCTGCAGAAAG...,0.515711,0.347528
297926,1U0P,GGTTACATCCCGGAAGCTCCGCGTGACGGTCAGGCGTACGTTCGTA...,0.518222,0.350397
297927,3HRO,GGTTCTCACATGGGTGTTTCTTACGAAGAATTCCAGGTTCTGGTTC...,0.517793,0.331829
297928,HHH_rd3_0009.pdb,TCTCAGGAACAGCTGAAGAAGGAAGTTGAACGTGCGGTTCGTGAAG...,0.510965,0.346033

In [ ]:
# run the module for lib 2
df1 = pd.read_csv('../Raw_NGS_count_tables/NGS_count_lib2.csv')
df_unfolded = DataS23_STEP4_module.caluculation_unfoldedK(df)
df_unfolded.to_csv('Lib2_unfolded.csv')
df_unfolded

In [ ]:
# run the module for lib 3
df1 = pd.read_csv('../Raw_NGS_count_tables/NGS_count_lib3.csv')
df_unfolded = DataS23_STEP4_module.caluculation_unfoldedK(df)
df_unfolded.to_csv('Lib3_unfolded.csv')
df_unfolded

In [ ]:
# run the module for lib 4
df1 = pd.read_csv('../Raw_NGS_count_tables/NGS_count_lib4.csv')
df_unfolded = DataS23_STEP4_module.caluculation_unfoldedK(df)
df_unfolded.to_csv('Lib4_unfolded.csv')
df_unfolded